<!-- Scripts -->
<script src="{{ "assets/js/jquery.min.js" | relative_url | replace: "http", secure }}"></script>
<script src="{{ "assets/js/jquery.scrollex.min.js" | relative_url | replace: "http", secure }}"></script>
<script src="{{ "assets/js/skel.min.js" | relative_url | replace: "http", secure }}"></script>
<script src="{{ "assets/js/util.min.js" | relative_url | replace: "http", secure }}"></script>
<script src="{{ "assets/js/main.min.js" | relative_url | replace: "http", secure }}"></script>
