{% assign current_page = page.url %}

<!-- Nav -->
<nav id="nav">
		<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		    <li{% if current_page == page.url %} class="active"{% endif %}><a href="{{ "/" | absolute_url | replace: "http", secure }}">{{ page.title }}</a></li>
	    	{% endif %}
		    {% endfor %}
		    {% for page in site.pages %}
		    {% if page.layout != "home" and page.layout != "error" and page.title %}
		    <li{% if current_page == page.url %} class="active"{% endif %}><a href="{{ page.url | absolute_url | replace: "http", secure }}">{{ page.title }}</a></li>
		    {% endif %}
		    {% endfor %}
		</ul>
		<ul class="icons">
				{% if site.data.facebook.url %}
				<li><a href="{{ site.data.facebook.url }}" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.data.instagram.url %}
				<li><a href="{{ site.data.instagram.url }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
		</ul>
</nav>

<!-- Main -->
<div id="main">
